[user]
  name = Yann Vanhalewyn
  email = yann.vanhalewyn@gmail.com
  signinkey = AA16961320C8A130
[core]
  excludesfile = ~/.gitignore_global
  editor = nvim

# Difftastic
[diff]
  tool = difftastic
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft --color always --syntax-highlight on "$LOCAL" "$REMOTE"
[pager]
  difftool = true

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[diff "lisp"]
  xfuncname = "^(\\(.*)$"
[diff "org"]
  xfuncname = "^(\\*+ +.*)$"

[pull]
  rebase = true
[alias]
  d = difftool
  dlog = "-c diff.external=difft log -p --ext-diff"
  dshow = "-c diff.external=difft show HEAD --ext-diff"
  undo-commit = reset --soft HEAD^
[push]
  default = current
[init]
  templatedir = ~/.git_template
	defaultBranch = main
[commit]
  gpgsign = true
[github]
  user = yann.vanhalewyn@gmail.com
[remote]
  pushDefault = origin
[rebase]
  autoStash = true
[credential]
  helper = osxkeychain
