[user]
  name = Yann Vanhalewyn
  email = yann.vanhalewyn@gmail.com
  signinkey = 7D36858A13CD5C82

[github]
  user = yann.vanhalewyn@gmail.com

[commit]
  gpgsign = true

[credential]
  helper = osxkeychain

[init]
  defaultBranch = main

[core]
  excludesfile = ~/.gitignore_global
  editor = /Users/yannvanhalewyn/repos/nvim-macos-x86_64/bin/nvim
  pager = delta

[push]
  default = current

[pull]
  rebase = true

[merge]
  conflictStyle = zdiff3

[rebase]
  autoStash = true

[remote]
  pushDefault = origin

[pager]
  difftool = true

[alias]
  d = difftool
  dlog = "-c diff.external=difft log -p --ext-diff"
  dshow = "-c diff.external=difft show HEAD --ext-diff"
  undo-commit = reset --soft HEAD^

###############################################################################
## Diffs

# [interactive]
#   diffFilter = delta --color-only

[delta]
  side-by-side = true

[diff]
  tool = difftastic
  # external = difft

[diff "lisp"]
  xfuncname = "^(\\(.*)$"

[diff "org"]
  xfuncname = "^(\\*+ +.*)$"

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft --color always --syntax-highlight on "$LOCAL" "$REMOTE"

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =

[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

