vim/undo/*
!vim/undo/.keep
vim/plugged/
nvim/plugged/
vim/flavors/
nvim/.netrwhist
emacs.d/elpa
emacs.d/auto-save-list
emacs.d/elpa
emacs.d/eshell
emacs.d/saveplace
emacs.d/history
emacs.d/**/.yas-compiled-snippets.el
