snippet wif "wraps selection in if statement" b
if (${1:condition}) {
	${VISUAL}
} else {
	${2:code}
}
endsnippet

snippet wwhile "wraps selection in while loop" b
while (${1:condition}) {
	${VISUAL}
}
endsnippet
