snippet des "Rspec describe block" b
describe "${1}" do
	$2
end
endsnippet

snippet be "Before each block" b
before(:each) do
	$1
end
endsnippet

snippet ae "After each block" b
after(:each) do
	$1
end
endsnippet
